<section class="content">
  <h1>All services</h1>

  <ul>
    <% @services.each do |service| %>
        <li><%= service.name %>
          <%= link_to 'Show', service %>
          <%= link_to 'Edit', edit_service_path(service) %>
          <%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %>
        </li>
    <% end %>
  </ul>
  <br />

  <%= link_to 'New Service', new_service_path %>
</section>