<section class="sidebar">
  <ul>
    <% @related.each do |info| %>
        <li><%= link_to info.title, info %></li>
    <% end %>
  </ul>
</section>
<section class="content">
  <h1>Our partners</h1>
  <% @partners.each do |partner| %>
      <div class="partner">
        <div class="partner_logo">
          <%= image_tag(partner.image.complete_name) %>
        </div>
        <div class="partner_info">
          <p>
            <%= partner.description %>
          </p>
          <p>
            <a href="<%= partner.website %>"><%= partner.website %></a>
          </p>
        </div>
      </div>
  <% end %>
</section>