<section class="content">
  <h1>Listing partners</h1>

  <ul>
    <% @partners.each do |partner| %>
    <li class="admin_item">
      <%= partner.name %>
      <%= link_to 'Show', partner %>
      <%= link_to 'Edit', edit_partner_path(partner) %>
      <%= link_to 'Destroy', partner, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
        <% end %>
  </ul>


  <br />
  <div class="admin_item">
    <%= link_to 'New Partner', new_partner_path %>
  </div>
</section>