<section class="sidebar">
  <%= link_to 'Designed products', designed_designer_path, :id => @designer.id %>
</section>
<section class="content">
  <h1><%= @designer.full_name %></h1>

  <%= image_tag(@designer.image.complete_name, :class => 'profile_photo') %>

  <p>
    <%= @designer.biography %>
  </p>

  <div class="group_links">
    <%= link_to 'Back', :back %>
  </div>
</section>
