<p id="notice"><%= notice %></p>
<h2><%= @designer.full_name %></h2>

<%= image_tag(@designer.image.complete_name, :class => 'profile_photo') %>

<p>
  <%= @designer.biography %>
</p>

<%= link_to 'Back', designers_path %>
