<section class="sidebar">
  <ul>
    <% @other.each do |info| %>
        <li><%= link_to info.title, info %></li>
    <% end %>
    <li><%= link_to 'Partners', all_partners_partner_path %></li>
  </ul>
</section>

<section class="content">

  <h1><%= @about.title %></h1>

  <div class="about_photos">
  <% @about.images.each do |image|%>
      <%= image_tag(image.complete_name) %>
  <% end %>
  </div>
  <p class="description">
    <%= @about.description %>
  </p>
</section>