<section class="content">
<h1>Listing rooms</h1>

  <ul>
    <% @rooms.each do |room| %>
    <li class="admin_item">
      <%= room.name %>
      <%= link_to 'Show', room %>
      <%= link_to 'Edit', edit_room_path(room) %>
      <%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
        <% end %>
  </ul>

<br />
<div class="admin_item">
    <%= link_to 'New Room', new_room_path %>
</div>
</section>