


<section class="content">
  <h1>Products#admin_page</h1>
  <ul>
    <% @products.each do |product| %>
        <li class="admin_item">
          <%= product.name %>
          <%= link_to 'Edit', edit_product_path(product) %>
          <%= link_to 'Destroy', product, :method => :delete, data: {confirm: 'Are you sure?'} %>
          <%= link_to 'Add Photo', {:controller => :products, :action => 'choose_product', :product_id => product.id } %>
          <%= link_to 'Add Service', {:controller => :products, :action => :choose_service, :product_id => product.id} %>
        </li>
    <% end %>
  </ul>

  <div class="admin_item">
    <%= link_to 'New product', new_product_path %>
  </div>
</section>