<h1>Products#choose_product</h1>
<p>Find me in app/views/products/choose_product.html.erb</p>

<%= form_for(@product) do |f| %>

    <div class="field">
      <%= f.label :photo %><br />
      <%= f.file_field :photo %>
    </div>

    <div>
      <%= f.submit :controller => :products, :action => :add_photo_to_product%>
    </div>

<% end %>

<%= button_to "Add", :controller => :products, :action => :add_photo_to_product, :photo => :photo %>




