<section class = sidebar>
  <%= link_to "Technical Details", {:controller => "products", :action => :technical_details, :id => @product.id} %>
  <h4>Designer</h4>
  <%= link_to @designer.full_name, designer_path(@designer) %>
</section>
<section class = content>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>


   <% if @guided_tour %>
    <%= link_to '<Prev', product_path(@previous, :room_id => @product.room, :manufacturer_id => @product.manufacturer, :category_id => @product.category) %>
    <%= link_to 'Next>', product_path(@next, :room_id => @product.room, :manufacturer_id => @product.manufacturer, :category_id => @product.category) %> </br>
    <% end %>
      <%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
</section>