<section class = sidebar>
  <ul>
    <li>
      <%= link_to 'Technical Details', {:controller => 'products', :action => :technical_details, :id => @product.id} %>
    </li>
  </ul>
  <h4>Designer</h4>
  <ul><li><%= link_to @designer.full_name, designer_path(@designer) %></li></ul>
  <% if @product.services.count > 0 %>
      <h4>Services</h4>
      <ul>
        <% @product.services.each do |service| %>
            <li><%= link_to service.name, service_path(service) %> </li>
        <% end %>
      </ul>
  <% end %>
</section>

<section class = content>

  <h1><%= @product.name %></h1>

  <div class="product_rep_img">
    <%= image_tag(@product.images.first.complete_name) %>
  </div>
  <div class="product_description">
    <p>
      <%= @product.description %>
    </p>
  </div>

  <div class="photogallery_label"></div>
  <h3>Photogallery</h3>
  <div id="photogallery">
    <ul class="bjqs">

      <% @product.images.each do |image| %>
          <li><%= image_tag(image.complete_name) %></li>
      <% end %>

    </ul>

  </div>

  <div class="group_links">
    <% if @guided_tour %>
        <%= link_to '<Prev', product_path(@previous, :manufacturer_type => @product.manufacturer_type, :room_id => @product.room, :manufacturer_id => @product.manufacturer, :category_id => @product.category) %>
        <%= link_to 'Next>', product_path(@next, :manufacturer_type => @product.manufacturer_type ,:room_id => @product.room, :manufacturer_id => @product.manufacturer, :category_id => @product.category) %>
    <% elsif @guided_tour_designed %>
        <%= link_to '<Prev', product_path(@previous, :designer_id =>@product.designer) %>
        <%= link_to 'Next>', product_path(@next, :designer_id =>@product.designer) %>
    <% end %>

    <a href="<%= @back_url %>">Back to index</a>
  </div>
</section>

<script type="text/javascript">
    jQuery(document).ready(function($) {
        $('#photogallery').bjqs({
            'height' : 220,
            'width' : 450,
            'responsive' : true
        });
    });
</script>
