<section class = sidebar>
  <p>Structural LINK</p>
  <h4>Designer</h4>
  <%= link_to @designer.full_name, designer_path(@designer) %>
</section>
<section class = content>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
</section>