<!DOCTYPE html>
<html>
<head>
  <title>Codech</title>
  <%= stylesheet_link_tag    'application', :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<section id="container">
  <header id="main_header">
    <h1 class="logo"><%= link_to 'Codech', :controller => :home, :action => :index %></h1>
    <nav class="landmarks">
      <%= link_to 'The group', abouts_path %>
      <%= link_to 'Partners', partners_path %>
      <%= link_to 'Products', products_path %>
      <%= link_to 'Designers', designers_path %>
      <%= link_to 'Services', services_path %>
      <%= link_to 'Events', events_path %>
    </nav>
  </header>
  <section class="content_container">
    <%= yield %>
  </section>
  <footer id="footer">
    <%= link_to 'Admin page', :controller => :admin, :action => :index %>
  </footer>
</section>

</body>
</html>
