<!DOCTYPE html>
<html>
<head>
  <title>Codech</title>
  <!-- Include the basic styles -->
  <%= stylesheet_link_tag 'bjqs' %>

  <%= stylesheet_link_tag    'application', :media => 'all' %>
  <link href='http://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>

  <!-- Include the jQuery library (local or CDN) -->
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>

  <!-- Include the plugin *after* the jQuery library -->
  <%= javascript_include_tag 'bjqs-1.3.min' %>
  <!--<script src="bjqs.min.js"></script> -->


  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<section id="container">
  <header id="main_header">
    <h1 class="logo"><%= link_to 'Codech', :controller => :home, :action => :index %></h1>
    <nav class="landmarks">
      <%= link_to 'The group', About.first %>
      <%= link_to 'Products', products_path %>
      <a href="#">Distribution</a>
      <a href="#">Events</a>
      <%= link_to 'Designers', designers_path %>
      <%= link_to 'Services', :controller => :services, :action => :all_services %>
      <a href="#">Contacts</a>
    </nav>
  </header>
  <section class="content_container">
    <%= yield %>
  </section>
  <footer id="footer">
    <p>Copyright 2013</p>
  </footer>
  <div class="admin">
    <%= link_to 'Admin page', :controller => :admin, :action => :index %>
  </div>
</section>

</body>
</html>
